{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}


<h1 class="willianclass">{{ title }}</h1>
<form action="." method="POST">
				<div class="row">
                    <div class="col-100">
                        <div class="bloco-form">
							{% csrf_token %}
							{{ receive_item_form }}
							{{ form }}
							{{ reported_item_form }}
                        </div>
                    </div>
				</div>

				<button class="btn-save" type="submit">Save changes</button>
			</form>

<p id="ptest">
    OLA MEU BROTHER
</p>

<script>
	$(document).ready(function () {$('select').select2()});
</script>

{% endblock content %}