{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}


<h1 class="willianclass">Novo Fornecedor/Marca</h1>

<form action="." method="POST">
	<div class="row">
		<div class="col-100">
			<div class="bloco-form">
				<label class="label-id" for="{{ form.brand.id_for_label }}">Marca/Fornecedor:</label>
				{% csrf_token %}
				{{ form.brand |add_class:"input-custom" }}
			</div>
		</div>
	</div>
	<button class="btn-save" type="submit">Salvar</button>
</form>


<script>
	$(document).ready(function () {$('select').select2()});
</script>

{% endblock content %}