<html lang="en">
<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'img/cart.png' %}">

  {% block title %}
    <title>Vendas</title>
  {% endblock title %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


  <style type="text/css">
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
      padding-top: 0;
      padding-bottom: 40px;
      color: #5a5a5a;
    }
  </style>

    {% block css %}{% endblock %}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <![endif]-->
  {% block js %}{% endblock %}
</head>

<!-- <body ng-app="base"> -->
<body>

<ul class="navbar">
    <li><a class="active">Sway</a></li>
    <li><a>Dashboard</a></li>
    <li><a>Persona</a></li>
    <li><a>Suporte</a></li>
</ul>

<div id="main">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="option" href="{% url 'swayapp:sale_list' %}" >
            <i class='bx bxs-cart-add' style="color:white;"></i>
            <span class="link_name"> Vendas</span>
        </a>
        <a href="{% url 'swayapp:product_list' %}">
            <i class='bx bx-package' style="color:white;"></i>
            <span class="link_name">Produtos</span>
        </a>
        <a href="#">
            <i class='bx bxs-truck' style="color:white;"></i>
            <span class="link_name">Sellers</span>
        </a>
        <a href="{% url 'swayapp:add_brand' %}">
            <i class='bx bxs-hand' style="color:white;"></i>
            <span class="link_name">Staff</span>
        </a>
        <a href="#">
            <i class='bx bx-body' style="color:#04AA6D;"></i>
            <span class="link_name">Clientes</span>
        </a>
        <div>
            <p id="id-times" class="intimes">
                Boa Noite!
            </p>
        </div>
    </div>


    <span id="free_span" class="free-span" style="cursor:pointer;padding:1" onclick="openNav()">&#9776;</span>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <hr>
                    <p class="pull-right">
                        <a href="#"><span class="glyphicon glyphicon-chevron-up">Topo</span></a>
                    </p>
                    <p>Smart2B &copy; 2021 &middot; Gestão é Resultado!
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png"/></a>
                       all rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
  if (!window.Global) {
    window.Global = [];
  }
  Global.angular_dependencies = {% block angulardependencies %}[
    ]{% endblock angulardependencies %};

    function openNav() {
 if (screen.width <=450){
 document.getElementById("mySidenav").style.width = "60px";
 document.getElementById("main").style.marginLeft = "60px";
 document.getElementById("free_span").innerHTML = "";
 }
 else {
 document.getElementById("mySidenav").style.width = "250px";
 document.getElementById("main").style.marginLeft = "250px";
 document.getElementById("free_span").innerHTML = "";}
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0"
  document.getElementById("free_span").innerHTML = "&#9776;";
}

if (new Date().getHours() <= 12) {
  document.getElementById("id-times").innerHTML = "Bom Dia!";
}
else if (new Date().getHours() <= 18) {
  document.getElementById("id-times").innerHTML = "Boa Tarde";
  }
</script>

</body>
</html>