{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<body>
<button type="button"
	class="addbutton"
	data-toggle="modal"
	data-target="#exampleModalScrollable">
	Novo
</button>

<h1 class="willianclass">Produtos</h1>


<div id="exampleModalScrollable" aria-hidden="true" class="modal">
	<div class="modal-content">
		<div class="modal-header">Adicione um Produto
			<div class="close-modal" data-dismiss="modal">&times;</div>
		</div>
		<div class="modal-body">
			<form action="." method="POST">
				<div class="row">
					<div class="col-100">
						<div class="bloco-form">
							<label class="label-id" for="{{ form.product.id_for_label }}">Produto:</label>
							{% csrf_token %}
							{{ form.product |add_class:"input-custom" }}
						</div>
					</div>
					<div class="col-50">
						<div class="bloco-form">
							<label class="label-id" for="{{ form.ncm.id_for_label }}">NCM:</label>
							{% csrf_token %}
							{{ form.ncm |add_class:"input-custom" }}
						</div>
						<div class="bloco-form">
							<label class="label-id" for="{{ form.brand.id_for_label }}">Marca:</label>
							{% csrf_token %}
							{{ form.brand |add_class:"input-custom"}}
						</div>
						<div class="bloco-form">
							<label class="label-id" for="{{ form.category.id_for_label }}">Categoria:</label>
							{% csrf_token %}
							{{ form.category |add_class:"input-custom"}}
						</div>
					</div>
					<div class="col-50">
						<div class="bloco-form">
							<label class="label-id" for="{{ form.stock_min.id_for_label }}">Estoque Min.:</label>
								{% csrf_token %}
								{{ form.stock_min |add_class:"input-custom"}}
						</div>
						<div class="bloco-form">
							<label class="label-id" for="{{ form.sell_price.id_for_label }}">Preço venda:</label>
							{% csrf_token %}
							{{ form.sell_price |add_class:"input-custom"}}
						</div>
					</div>
				</div>

				<button class="btn-save" type="submit">Save changes</button>
			</form>
		</div>
	</div>
</div>


{% if object_list %}
<div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>NCM</th>
			<th>Produto</th>
			<th class="text-center">Estoque</th>
			<th class="text-center">Estoque Min.</th>
			<th class="text-right">Preço</th>
			<th class="text-center">Custo Médio</th>
			<th class="text-center">Preço Recebido</th>
			<th class="text-center">Lucro</th>
			<th class="text-center">ID</th>
		</tr>
		</thead>
		<tbody>
		{% for product in object_list %}
		{% if product.outofline %}
		<tr class="danger">
			{% else %}
		<tr>
			{% endif %}
			<td>{{ product.ncm }}</td>
			<td><b>{{ product.product }}</b></td>
			<td class="text-center">{{ product.stock }}</td>
			<td class="text-center">{{ product.stock_min }}</td>
			<td class="text-right">{{ product.get_price }}</td>
			<td class="text-right">{{ product.get_custo_medio }}</td>
			<td class="text-right">{{ product.received_price }}</td>
			<td class="text-right">{{ product.get_lucro }}</td>
			<!--{% if product.get_ipi == "0" %}-->
			<!--<td class="text-right">-&#45;&#45;</td>-->
			<!--{% else %}-->
			<!--<td class="text-right">{{ product.get_ipi }}%</td>-->
			<!--{% endif %}-->
			<td class="text-center"><a href="{% url 'swayapp:receive' product.id %}">{{product.id}}</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% else %}

<p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}

	<hr>
	<div>
		<h3>{{ object_list|length }} produto{{ object_list|length|pluralize }}</h3>
		<h4>
			<b>Total:</b>
			{{ page_obj.paginator.count }} produto{{ page_obj.paginator.count|pluralize }}
		</h4>
	</div>
{% if object_list %}
{% endif %}

</body>
{% endblock content %}