{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
  <title>Nova Venda</title>
{% endblock title %}

{# Adding select2 css #}

{# Adding select2 js #}
{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="Willianclass">Nova Venda</h1>
</div>
<div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <legend>Venda</legend>
            <div>
                <div>
                    {{ forms }}
                    {{ formset.management_form }}
                </div>
            </div>
            <legend>Produtos</legend>
            <div id="order">
                {% for item_order_form in formset %}
                <div id="item{{ forloop.counter0 }}">
                    {{ item_order_form }}
                </div>
                {% endfor %}
            </div>
            <br>
            <a id="add-item"><i></i>Add Item</a>

            <div>
                <a href="{% url 'swayapp:sale_list' %}">
                    <i></i>
                    Cancelar
                </a>
                <button value="Save">
                    <i></i>
                    Salvar
                </button>
            </div>
          </form>
      </div>
  </div>

    <script>
      $(document).ready(function () {
        $('#id_product-0-product').addClass('clProduct');
        $('#id_product-0-quantity').addClass('clQuantity');

        $('label[for="id_product-0-total"]').append('<span id="id_product-0-total-span" class="lead" style="padding-left: 10px;"></span>')
        $('label[for="id_product-0-total"]').append('<input id="id_product-0-inicial" class="form-control" type="hidden" />')
        $('.clProduct').select2()})

        $("#add-item").click(function (ev) {
          ev.preventDefault();
          var count = $('#order').children().length;
          var tmplMarkup = $("#item-order").html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $("div#order").append(compiledTmpl);

          // update form count
          $('#id_product-TOTAL_FORMS').attr('value', count + 1);

          // some animate to scroll to view our new form
          $('html, body').animate({
            scrollTop: $("#add-item").position().top - 200
          }, 800);
          {# Initialize select2 on new select field #}
          $('#id_product-' + (count) + '-product').select2();
          {# Initialize select2 on all select tags #}
          $('#id_product-' + (count) + '-product').addClass('clProduct');
          $('#id_product-' + (count) + '-quantity').addClass('clQuantity');

          $('label[for="id_product-' + (count) + '-total"]').append('<span id="id_product-' + (count) + '-total-span" class="lead" style="padding-left: 10px;"></span>')
          $('label[for="id_product-' + (count) + '-total"]').append('<input id="id_product-' + (count) + '-inicial" class="form-control" type="hidden" />')
          $('.clProduct').select2();
      });

      let product
      let price_sale
      let quantity
      let ipi_sale
      let campo

      $(document).on('change', '.clProduct', function(){
          let self = $(this)
          let pk = $(this).val()
          let url = pk + '/json/'

          $.ajax({
              url: url,
              type: 'GET',
              success: function(response) {
                  product = response.data[0].product
                  sell_price = response.data[0].sell_price
                  campo = self.attr('id').replace('product', 'quantity')

                  $('#'+campo).val('')
              },
              error: function(xhr){

              }
          })
      });

      $(document).on('change', '.clQuantity', function() {
          quantity = $(this).val();
          price_sale = Number(sell_price);
          total = Number(sell_price) * Number(quantity)
          campo = $(this).attr('id').replace('quantity', 'price_sale', 'total')
          $('#'+campo).val(price_sale)
      });

    </script>

    <script type="text/html" id="item-order">
      <div id="item-__prefix__" class="form-group" style="margin-top: 10px">
        {{ formset.empty_form }}
      </div>
    </script>
{% endblock %}
