{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
  <title>Nova Venda</title>
{% endblock title %}

{# Adding select2 css #}

{# Adding select2 js #}
{% block js %}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="Willianclass">Nova Venda</h1>
</div>

<body>
<div class="row">
    <form class="form-group" action="" method="POST">
        {% csrf_token %}

        <legend>Venda</legend>
        <div class="row">
            <div class="col-xs-8 col-md-5">
                {{ forms|bootstrap }}
                {{ formset.management_form|bootstrap }}
            </div>
        </div>

        <div id="order" class="form-inline">
            {% for item_order_form in formset %}
            <div id="item-{{ forloop.counter0 }}" class="form-group">
                {{ item_order_form|bootstrap }}
            </div>
            {% endfor %}
        </div>
        <br>
        <a class="add-item-btn" id="add-item">
            <i class="fa fa-plus"></i>
            Novo Item
        </a>

        <div class="form-inline buttons">
            <a href="{% url 'swayapp:sale_list' %}" class="btn btn-danger pull-right">
                <i class="fa fa-times"></i>
                Cancelar
            </a>
            <button class="addbutton" value="Save">
                <i class="fa fa-floppy-o"></i>
                Salvar
            </button>
        </div>
    </form>
</div>

    <script>
      $(document).ready(function () {
        $('#id_product-0-product').addClass('clProduct');
        $('#id_product-0-quantity').addClass('clQuantity');
        $('select').select2()})

        $("#add-item").click(function (ev) {
          ev.preventDefault();
          var count = $('#order').children().length;
          var tmplMarkup = $("#item-order").html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $("div#order").append(compiledTmpl);

          // update form count
          $('#id_product-TOTAL_FORMS').attr('value', count + 1);

          // some animate to scroll to view our new form
          $('html, body').animate({
            scrollTop: $("#add-item").position().top - 200
          }, 800);
          {# Initialize select2 on new select field #}
          $('#id_product-' + (count) + '-product').select2();

          $('#id_product-' + (count) + '-product').addClass('clProduct');
          $('#id_product-' + (count) + '-quantity').addClass('clQuantity');
          {# Initialize select2 on all select tags #}
          $('.clProduct').select2();
      });

      let product
      let price_sale
      let quantity
      let ipi_sale
      let campo

      $(document).on('change', '.clProduct', function(){
          let self = $(this)
          let pk = $(this).val()
          let url = pk + '/json/'

          $.ajax({
              url: url,
              type: 'GET',
              success: function(response) {
                  product = response.data[0].product
                  sell_price = response.data[0].sell_price
                  campo = self.attr('id').replace('product', 'quantity')

                  $('#'+campo).val('')
              },
              error: function(xhr){

              }
          })
      });

      $(document).on('change', '.clQuantity', function() {
          quantity = $(this).val();
          price_sale = Number(sell_price);
          total = Number(sell_price) * Number(quantity)
          campo = $(this).attr('id').replace('quantity', 'price_sale', 'total')
          $('#'+campo).val(price_sale)
      });

    </script>

    <script type="text/html" id="item-order">
      <div id="item-__prefix__" class="form-group">
        {{ formset.empty_form }}
      </div>
    </script>

</body>
{% endblock content %}
